header {
  position:fixed;
  background-color: white;
}

.belongings {
  width: 100px;
  position:absolute;
  left:100px;
  background-color: white;
}

.calendar {
  width: 200px;
  position:absolute;
  left:200px;
  background-color: white;
  /* border: 1px solid black; */
}

h1 {
  font-size: 20px;
  font-weight: normal;
  color: skyblue;
  margin:0;
}

h2 {
  font-size:20px;
  font-weight: normal;
  color:tomato;
  margin:0;
}

p {
  margin:0;
}

body < div {
  margin-bottom: 50px;
  margin-top: 0;
  padding-top: 0;
}

th {
  font-weight: normal;
  width:100px;
}

td {
  width:100px;
  /* border: 1px solid grey; */
  background-color:rgb(194, 230, 245);
  margin: 0;
  padding:0;
  vertical-align: top;
}

td < div {
  height: 100px;
}

table {
  /* border: 1px solid black; */
}

.very_busy {
  color:white;
  background-color: rgb(116, 116, 240);
}

.busy {
  background-color:rgb(13, 161, 13);
}

.sec1 {
  border: 1px solid black;
}

.sec2 {
  border: 1px solid black;
}

.container {
  display:flex;
  flex-direction:column;
  align-content: flex-end;
}

.bottom {
  width:100px;
  height:1000px;
}

img {
  width:300px;
}

@media (max-width:600px) {
  img {
    width:100%;
  }
}